body {
    color: #b8860b;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding: 20px 35px;
    background-color: goldenrod;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: whitesmoke;
    margin: 0;
}
header nav {
    float: right;
    margin: 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 15px;
}

.hero img {
    height: 600px;
    width: 100%
}
footer h2 {
    font-size: 25px;
}
footer div ul {
    float: right;
}

footer div ul li {
    display: inline;
    margin: 0 30px;
}
  
    /*background-size: cover;
    background-position: center;
    position: relative;
}*/